
nav {
	background-color: #808080;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    content: " ";
    clear: both;
    height: 0;
    font-size: 0;
}

nav a{
	text-decoration: none;
	background-color: #ffbf00;
	color: #ffffff;
	padding: 35px;
	display: block;
	float: left;
}

nav a:hover {
  background-color: #ee5f3c;
}


.board {
  height: 50%;
  width: 50%;
  display: inline-block;
  }

.card {
	height: 200px;
	width: 150px;
	border: 1px solid rgb(0,0,0);
	background-color: yellow;
	border-radius: 10px;
	border-color: black;
	float: left;
  	margin: 8%;
}

.name {
	color: #ff0000;
}

p{
	text-align: center;
}

footer{
	background-color: #808080;
	text-align: center;
}

header{
	text-align: center;
}

body{
	text-align: center;
	background-position: center;
}
 h1 {
    color: rgb(2,132,130);
    text-align: center;
  }

 h2 {
    color: #ffd700;
   	text-align: center;
  }

img {
	height: 200px;
  	width: 150px;
}
